<!DOCTYPE html>
<html>
{% include google_analytics.html %}
	<head>
		<title>{{ page.title }}</title>

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>


	<body>

		<div class="container">
		<nav>
			<ul>
        	<li><a href="/">home</a></li>
        	<li><a href="/blog">writings</a></li>
        	<li><a href="mailto:yanhuang@alum.mit.com">email</a></li>
        	<li><a href="/cv">resume</a></li>
	    	</ul>
		</nav>
			{{ content }}

		</div><!-- /.container -->

	</body>
</html>
